# This is Git's per-user configuration file.
[user]
	name = Kenji Hanamoto
	email = khanamoto10@gmail.com
[color]
	ui = auto
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/hanamotokenji/.stCommitMsg
[ghq]
	root = /Users/hanamotokenji/dev/src
[core]
	editor = vim
	excludesfile = /Users/hanamotokenji/.gitignore_global
[alias]
	ad = add
	ps = push
	cm = commit
	pl = pull
	rs = reset
	rv = revert
	ft = fetch
	st = status
